#jinja2: trim_blocks:False
<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>{{ credential_id }}</id>
  <username>{{ username }}</username>
  <password>{{ user_password }}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
